// Variable
$rebbg-color-1: #e4d8bd;
$rebText-color-1: #272727;
$rebText-color-2: #e11c3e;
$rebButton-color-1: #fa5052;
$rebFont-Thin:100;
$rebFont-ExtraLight:200;
$rebFont-Light:300;
$rebFont-Regular:400;
$rebFont-Medium:500;
$rebFont-SemiBold:600;
$rebFont-Bold:700;
$rebFont-ExtraBold:800;
$rebFont-Black:900;